---
# 1. Preparación del nodo
- name: Actualizar caché apt
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Instalar dependencias
  apt:
    name: ["curl", "python3"]
    state: present

- name: Desactivar Swap
  shell: |
    swapoff -a
    sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab

# 2. Obtener token (delegado al master)
- name: Leer token del master
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: node_token_b64
  delegate_to: "{{ groups['k3s_master'][0] }}"
  run_once: true
  become: yes

- name: Decodificar token
  set_fact:
    k3s_token_decoded: "{{ node_token_b64['content'] | b64decode | trim }}"

# 3. Unir al clúster
- name: Instalar K3s agent y unir
  shell: >
    curl -sfL {{ k3s_installer_url }} | 
    K3S_URL=https://{{ k3s_master_ip }}:6443 
    K3S_TOKEN={{ k3s_token_decoded }} 
    sh -
  args:
    creates: /usr/local/bin/k3s-agent