apiVersion: v1
kind: Service
metadata:
  name: humhub-service 
  namespace: humhub
  labels:
    app: humhub
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    app: humhub # Coincide con el label del Deployment