---
# tasks file for roles/k3s_cluster

# 1. Preparación
- name: Actualizar caché apt
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Instalar dependencias (curl, python)
  apt:
    name: ["curl", "python3"]
    state: present

- name: Desactivar Swap
  shell: |
    swapoff -a
    sed -i '/ swap / s/^\(.*\)$/#\1/g' /etc/fstab

# 2. Instalación máster
- name: Instalar K3s server (máster)
  shell: curl -sfL {{ k3s_installer_url }} | sh -
  args:
    creates: /usr/local/bin/k3s
  when: inventory_hostname in groups['k3s_master']

- name: Esperar arranque del máster
  pause:
    seconds: 10
  when: inventory_hostname in groups['k3s_master']

# 3. Gestión del token
- name: Leer token del máster
  slurp:
    src: /var/lib/rancher/k3s/server/node-token
  register: node_token_b64
  # Ejecuta esto siempre en el máster, aunque el play sea de un worker
  delegate_to: "{{ groups['k3s_master'][0] }}"
  run_once: true
  become: yes  # forzamos ser root para leer este archivo protegido

- name: Decodificar Token
  set_fact:
    k3s_token_decoded: "{{ node_token_b64['content'] | b64decode | trim }}"

# 4. Instalación workers
- name: Instalar K3s agent (workers)
  shell: >
    curl -sfL {{ k3s_installer_url }} | 
    K3S_URL=https://{{ k3s_master_ip }}:6443 
    K3S_TOKEN={{ k3s_token_decoded }} 
    sh -
  args:
    creates: /usr/local/bin/k3s-agent
  when: inventory_hostname in groups['k3s_workers']