grafana:
  persistence:
    enabled: false  # Optamos por un almacenamiento temporal para evitar la complejidad de gestionar volúmenes persistentes
  
  adminPassword: "admin"  # Establecemos una contraseña fija por comodidad

  sidecar:
    dashboards:
      enabled: true  # Permitimos cargar Dashboards automáticamente
      label: grafana_dashboard
      
prometheus:
  prometheusSpec:
    # Por defecto, el Chart solo mira su propio namespace. Por esto, añadimos estas líneas, para permitir a Prometheus ver todo el clúster.
    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}

    retention: 2d  # Limitamos el histórico a 2 días para no saturar el disco limitado de las VMs
