apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  namespace: argocd
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
    #ingress.kubernetes.io/ssl-redirect: "false" #que pueda entrar por el puerto 80
    #traefik.ingress.kubernetes.io/service.serversscheme: https #tiene que "hablarle" https a argo
spec:
  rules:
  - host: argocd.grupo7.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: argocd-server
            port:
              number: 80 