---
# tasks file for roles/common_firewall

- name: Instalar UFW
  apt:
    name: ufw
    state: present

- name: Resetear reglas (limpieza)
  ufw:
    state: reset

- name: Denegar tráfico entrante por defecto
  ufw:
    default: deny
    direction: incoming

- name: Permitir tráfico saliente por defecto
  ufw:
    default: allow
    direction: outgoing

- name: Permitir SSH (general)
  ufw:
    rule: allow
    port: "{{ firewall_ssh_port }}"
    proto: tcp

- name: Permitir tráfico interno del clúster
  ufw:
    rule: allow
    from: "{{ cluster_subnet }}"

# Regla sólo para el máster
- name: Permitir puertos públicos en máster (API/web)
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ firewall_allowed_tcp_ports_master }}"
  when: inventory_hostname in groups['k3s_master']

- name: Activar firewall
  ufw:
    state: enabled